body {
    padding-top: 2rem;
    background-image: url("../images/boy_computer_voting.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left bottom;
}

.main-page {
    padding: 3rem 1.5rem;
    text-align: center;
}
.navbar{
  border-bottom: 2px #fa741c solid;
}
.bg_orange{
  background-color: #fa741c;
  color: #f1f1f1;
}

@media only screen and (min-width: 768px) {
    .dataTables_length,
    .dataTables_info {
        text-align: left !important;
    }

    .custom-switch {
        padding-left: 4rem !important;
    }
}

.dtr-details {
    text-align: left !important;
}

.nav-link{
    text-align: center !important;
}

.custom-switch{
    text-align: center !important;
}

.custom-switch>label {
    /* color: #ffffff80 !important; */
}

[data-theme="dark"] {
    background-color: #1f1f1f !important;
    color: #fff !important;
}

[data-theme="dark"] .bg-light {
    background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
    background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
    background-color: #eee !important;
}

[data-theme="dark"] .table {
    color: #fff !important;
}

[data-theme="dark"] .custom-select,
[data-theme="dark"] .form-control,
[data-theme="dark"] .page-link {
    background-color: #343a40 !important;
    color: #fff !important;
}

/* x-cash logo colours */
.st1{fill:#1f1f1f}
.st2{fill:#fa741c}

[data-theme="dark"] .st1{fill:#f1f1f1}
[data-theme="dark"] .st2{fill:#fa741c}

.Online { color: green; }
.Offline { color: red; }
